@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/



    /*------------
        Header
    ------------*/
    header .mob_scroll > .cont
    {
        padding: 0 40px;
    }


    header .menu
    {
        margin-left: 60px;
    }


    header .account .dropdown
    {
        right: -26px;
    }

    header .account .dropdown a
    {
        padding: 4px 12px;
    }



    /*-------------
        Sidebar
    -------------*/



    /*---------------
        Page head
    ---------------*/



    /*----------------
        Block head
    ----------------*/



    /*------------------
        Form elements
    ------------------*/



    /*----------------
        Typography
    ----------------*/



    /*-----------------
        Main slider
    -----------------*/



    /*------------
        Footer
    ------------*/



    /*-----------
        PopUp
    -----------*/
}
